@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Plus Jakarta Sans', 'Inter Tight', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-backgroud: #FEF08A;
}

@layer utilities {
    .bg-grid-yellow {
        background-color: #FEF08A;
        background-image:
            linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
        background-size: 40px 40px;
    }
}

.button-primary{
    background: #4ADE80;
    padding: 1.5rem 4rem;
    gap: 3px;
    width: auto;
    max-width: 450px;
    font-weight: 800;
    letter-spacing: 0.02em;
    overflow: hidden;
    cursor: pointer;
    max-height: 60px;
}

.button-primary .arrow-right {
    transition: transform 0.2s;
}

.button-primary:hover .arrow-right {
    transform: translateX(8px);
}

.button-secondary{
    background: #fff;
    padding: 1.5rem 4rem;
    gap: 3px;
    width: auto;
    max-width: 450px;
    font-weight: 800;
    letter-spacing: 0.02em;
    overflow: hidden;
    cursor: pointer;
    font-size: 0.85em;
    transition: font-size 0.6s;
    max-height: 50px;
}

.button-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1rem 2rem;
    gap: 3px;
    font-weight: 800;
    letter-spacing: 0.02em;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 10%;
    font-size: 1em;
    transition: font-size 0.6s;
}

.button-nav:hover {
    font-size: 1.15em;
}

.button-secondary:hover {
    font-size: 0.95em;
}

.shadow{
    border: 3px solid #000;
    border-radius: 8px;
    box-shadow: 4px 4px 0px #000;
}

.border{
    border: 3px solid #000;
    border-radius: 8px;
}

.border-nav{
    border: 5px solid #000;
    border-radius: 8px;
}

.cta{
    color: rgba(0,0,0,0.6);
    transition: 0.4s;
}

.cta:hover{
    color: rgba(0,0,0,1);
}

.check{
    color: rgba(0,0,0,0.4);
    margin-right: 8px;
}

.button-exit{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F87171;
    padding: 1rem 2rem;
    gap: 3px;
    font-weight: 800;
    letter-spacing: 0.02em;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 9%;
    font-size: 1em;
    transition: font-size 0.6s;
}

.button-exit:hover {
    font-size: 1.15em;
}
